<div class="container mt-4">
  <h2 class="text-center mb-4">Login</h2>
  <div class="row">
    <div
      class="col-md-6 d-flex justify-content-center align-items-center mb-4 mb-md-0"
    >
      <img src="/login.png" alt="signUp" class="img-fluid " />
    </div>

    <div class="col-md-6">
      <form #login="ngForm" (ngSubmit)="handelSbmitForm(login)">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            name="email"
            ngModel
            #email="ngModel"
            required
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          />
          <div
            *ngIf="email.touched && email.invalid"
            class="form-text text-danger"
          >
            <div *ngIf="email.errors?.['required']">
              <small>Required</small>
            </div>
            <div *ngIf="email.errors?.['pattern']">
              <small>Invalid email</small>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            name="password"
            ngModel
            #password="ngModel"
            required
            minlength="8"
          />
          <div
            *ngIf="password.touched && password.invalid"
            class="form-text text-danger"
          >
            <div *ngIf="password.errors?.['required']">
              <small>Required</small>
            </div>
            <div *ngIf="password.errors?.['minlength']">
              <small>Password must be at least 8 characters</small>
            </div>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-outline-secondary w-100"
          [disabled]="login.invalid"
        >
          Login
        </button>
      </form>
      <div class="text-center mt-3">
        <a routerLink="/register">Don't have an account? Register here</a>
      </div>
    </div>
  </div>
</div>
