<div class="container">
  <h2 class="text-center mb-4">Login</h2>
  <form #login="ngForm" (ngSubmit)="handelSbmitForm(login)">
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        name="email"
        ngModel
        #email="ngModel"
        required=""
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$ "
      />
      @if (email.touched && email.invalid) {
      <div class="form-text text-danger">
        @if (email.errors?.["required"]) {
        <small>Required</small>
        } @if (email.errors?.["pattern"]) {
        <small>email invalid</small>
        }
      </div>
      }
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        name="password"
        ngModel
        #password="ngModel"
        required=""
        minlength="8"
      />
      @if (password.touched && password.invalid) {
      <div class="form-text text-danger">
        @if (password.errors?.["required"]) {
        <small>Required</small>
        } @if (password.errors?.["minlength"]) {
        <small>minlength is 8</small>
        }
      </div>
      }
    </div>
    <button
      type="submit"
      class="btn btn-primary btn-block m-4"
      [disabled]="login"
    >
      Login
    </button>
  </form>
  <div class="text-center mt-3">
    <a routerLink="/register">Don't have an account? Register here</a>
  </div>
</div>
