<div class="container mt-5">
  <h1 class="text-center">Cart</h1>
  <!-- <div *ngIf="cartItems.length > 0" class="row mt-5">
    <div class="col-12 col-md-4 text-center">
      <h6>Description</h6>
    </div>
    <div class="col-6 col-md-3 text-center">
      <h6>Quantity</h6>
    </div>
    <div class="col-6 col-md-1 text-center">
      <h6>Remove</h6>
    </div>
    <div class="col-6 col-md-2 text-center">
      <h6>Price</h6>
    </div>
    <div class="col-6 col-md-2 text-center">
      <h6>Total Price</h6>
    </div>
  </div> -->
  <hr />
  <div *ngFor="let item of cartItems">
    <app-add-to-cart [item]="item"></app-add-to-cart>
  </div>
  <ng-container *ngIf="cartItems.length === 0">
    <div class="container mt-5">
      <h1 class="text-center text-danger">Cart is Empty !!</h1>
    </div>
  </ng-container>
  <ng-container *ngIf="cartItems.length > 0">
    <div class="row mt-4">
      <div class="col-12 text-end">
        <button
          (click)="removeAllCart()"
          class="btn btn-danger fw-bold px-4 py-2 rounded"
          type="button"
        >
          Remove All
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div
        class="col-3 text-center text-bg-light mx-auto fw-bold px-4 py-2 rounded"
      >
        <h4>Total: ${{ getTotalPrice() }}</h4>
      </div>
    </div>
  </ng-container>
</div>
