.navbar {
  padding: 0.5rem 1rem;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  color: #333;
}

.nav-link:hover {
  color: #698db4;
}

.social-icons a {
  font-size: 1.2rem;
}

.social-icons a:hover {
  color: #84a4c7;
}
