<nav class="navbar navbar-expand-lg fw-bold bg-light">
  <div class="container-fluid row">
    <a
      class="navbar-brand fs-2 col-8"
      routerLinkActive="text-secondary"
      routerLink="/home"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Yalla Deals
    </a>
    <button
      class="navbar-toggler col-3"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col-3" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="text-secondary"
            routerLink="/login"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="text-secondary"
            routerLink="/register"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="text-secondary"
            routerLink="/cart"
          >
            <i class="fas fa-shopping-cart"></i> Cart
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
